@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .hello {
    text-transform: capitalize;
    font-size: 60px;
    font-family: Bitcount Grid Double Ink;
    font-weight: 700;
    text-align: center;
 }

 .something {
    text-transform: capitalize;
    font-size: 85px;
    font-family: Bitcount Grid Double Ink;
    text-align: center;
    font-weight: 300;
 }

 .hello {
    transition: transform 0.5s ease-out 0.7s;
    cursor: pointer;
 }

 .hello:hover {
    transform: scale(1.5);

 }

 .Animation1 {
    animation-name: code;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-align: center;
    font-size: 85px;
    text-transform: uppercase;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Bitcount Grid Double Ink;
    background: tomato;
 }