* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 2px solid black;
    height: 90vh;
}

.box {
    width: 105px;
    height: 50px;
    background: navy;
    text-align: center;
    color: aliceblue;
    line-height: 50px;
    border-radius: 10px;
}

.mainContainer {
    border: 1px dashed black;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}