:root {
    --black: #000;
    --text: #fff;
    --header: #ff3131;
    --nav: #0cc0df;
    --main: #e56699;
    --section: #e56699;
    --article: #ff6347;
    --aside: #8d6ae7;
    --footer: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: capitalize;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

body {
    border: 2px solid var(--black);
    margin: 7px;
    padding: 7px;
    /* display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh; */
    height: 97vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

/* header {
    background: var(--header);
    height: 10vh;
    line-height: 10vh;
    border: 1px solid var(--black);
    color: var(--text);
}

nav {
    background: var(--nav);
    height: 10vh;
    line-height: 10vh;
    border: 1px solid var(--black);
    color: var(--text);
}

main {
    display: flex;
    gap: 10px;
    height: 60vh;
}

.child-1,
.child-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grand-child-1 {
    background: var(--section);
    height: 28vh;
    line-height: 28vh;
    border: 1px solid var(--black);
    color: var(--text);
}

.grand-child-2 {
    background: var(--article);
    height: 28vh;
    line-height: 28vh;
    border: 1px solid var(--black);
    color: var(--text);
}

.child-2 {
    background: var(--aside);
    border: 1px solid var(--black);
    justify-content: center;
    align-items: center;
}

.child-2 > aside {
    color: var(--text);
    line-height: normal;
}

footer {
    background: var(--footer);
    border: 1px solid var(--black);
    height: 10vh;
    line-height: 10vh;
    color: var(--text);
} */

/* Responsive  */
/* @media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .child-1,
    .child-2 {
        width: 100%;
    }

    .grand-child-1,
    .grand-child-2 {
        height: 20vh;
        line-height: 20vh;
    }

    .child-2 {
        height: 20vh;
        justify-content: center;
    }

    footer {
        height: 10vh;
        line-height: 10vh;
    }
} */

header {
    background: var(--header);
    height: 12%;
}

nav {
    background: var(--nav);
    height: 5%;
}

main {
    display: grid;
    background: var(--main);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "child_1 child_1 child_2 child_2",
                "child_1 child_1 child_2 child_2"
                "child_1 child_1 child_2 child_2"
    ;
}