* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}


header {
  background-color: #444;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}



nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
  text-align: center;
  padding: 3rem 1rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero h1 span {
  color: orange;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 2rem auto;
  font-size: 1.1rem;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 20px 20px;
  max-width: 100px;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}

.button input {
    flex: 1 1 40%;
    /* border: 1px solid #171616; */
    width: 48%;
    padding: 12px;
    margin: 8px 1%;
    border-radius: 5px;
}

.button button {
  background-color: rgba(226, 94, 6, 0.603);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  flex: 1 1 100%;
  margin: 10px;
}

.button:hover {
      background: (orange);
    }
