body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  padding: 15px;
  background: #f5f5f5;
}

.hero {
  padding: 80px;
  background: #4e54c8;
  color: white;
}

.page {
  padding: 50px;
}

.portfolio {
  display: flex;
  gap: 20px;
}

.box {
  padding: 40px;
  background: #ddd;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}
