* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #d5dbdd, #6633a9);
}

form {
    background: #fff;
    padding: 30px 35px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(21, 20, 20, 0.2);
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
    margin-top: 6px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #888;
    font-size: 15px;
    transition: 0.3s ease;
}

input:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 4px #6a11cb;
}

span {
    font-size: 13px;
    margin-top: 3px;
    height: 16px;
}

input[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background: #6a11cb;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}


input[type="submit"]:hover {
    background: #2575fc;
}


form {
    animation: pop 0.5s ease;
}

@keyframes pop {
    0% { transform: scale(0.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
