* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #050b3b, #020824);
  color: white;
  min-height: 100vh;
  background-image: url("../utils/WhatsApp\ Image\ 2026-01-08\ at\ 10.00.43\ AM.jpeg");
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  opacity: 0.9;
}

nav a:hover {
  color: #ff2fa4;
}

.hero {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.brush {
  position: absolute;
  width: 420px;
  height: 140px;
  /* background: #ff2fa4; */
  transform: rotate(-8deg);
  border-radius: 20px;
  filter: blur(1px);
  z-index: 1;
}

.system h1 {
  font-size: 80px;
  font-weight: 800;
  z-index: 2;
}

.map {
  margin-top: 40px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}





