* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f4f0f0, #ebe8e8);
  color: #fff;
  overflow-x: hidden;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 80px;
}