* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial;
  background: #f8f9fa;
  padding: 20px;
}

#btn {
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    color: white;
    padding: 12px 25px;
    margin: 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#btn:hover {
    background: linear-gradient(135deg, #1cc88a, #4e73df);
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

#btn:active {
    transform: scale(0.95);
}

.container {
  max-width: 750px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background: #f1f3f5;
}

img {
  width: 50px;
}

#totalAmount {
  text-align: right;
  font-size: 18px;
  margin: 15px 0;
  color: green;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  background: #28a745;
  color: #fff;
  padding: 12px;
  border: none;
  width: 100%;
}
