*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f2f2f2;
}

#btn {
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    color: white;
    padding: 12px 25px;
    margin: 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#btn:hover {
    background: linear-gradient(135deg, #1cc88a, #4e73df);
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

#btn:active {
    transform: scale(0.95);
}

.mainContainer{
    display: flex;
    justify-content: center;
    gap: 130px;
    padding: 40px;
}

.loginPage,
.signupPage{
    width: 350px;
    background: white;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

label{
    font-weight: bold;
    margin-top: 8px;
}

input{
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 15px;
}

input:focus{
    border-color: #4a90e2;
    outline: none;
}

.button{
    padding: 10px;
    background: #4a90e2;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover{
    background: #357ac8;
}
