body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #c4cfda;
}

nav {
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


nav .logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li {
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

nav ul li:hover {
    color: #000;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #333;
}

#mainData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}

#mainData > div {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dce1e6;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    border-radius: 15px 15px 90px;
}

#mainData > div:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 14px rgba(0,0,0,0.15);
    border-color: #4a90e2;
}

#mainData img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#contact {
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 18px;
}

/* Add to Cart Button */
button {
  background: linear-gradient(135deg, #09c8af, #1e40af);
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #1e40af, #2563eb);
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.4);
}

button:active {
  transform: scale(0.95);
}


