@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@100;400;500;700;900&family=Josefin+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Montserrat:wght@700&family=Poetsen+One&family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sono:wght@300;400;500;700;800&family=Tilt+Neon&family=Tilt+Warp&family=Ysabeau+Infant:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Delicious Handrawn"; */
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.header {
  background-color: #f1ecec;
  border-radius: 30px;
  padding: 40px 60px;
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0 4px 20px rgba(106, 57, 57, 0.05);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
}

.info,
.links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.profile {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name-tag {
  position: absolute;
  top: 30px;
  right: -60px;
  background: #fff;
  padding: 2px 3px;
  border-radius: 20px;
  font-size: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  transform: rotate(-20deg);
}

.heading {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.6;
}

.heading strong {
  font-weight: 700;
}

button {
  margin-top: 30px;
  padding: 10px 30px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background: rosybrown;
}

.section {
  text-align: center;
  padding: 5px;
  background-color: #ece6e6;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 30px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.logos img {
  height: 65px;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}

.logos img:hover {
  filter: grayscale(100%);
}

.services {
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
  padding: 40px 20px;
}

.services1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.5;
}

.services1 strong {
  font-weight: 700;
}

.services2 {
  display: inline-block;
  margin: 30px auto;
  padding: 6px 18px;
  border-radius: 20px;
  background-color: #ffffff;
  font-weight: bold;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  transform: rotate(-15deg);
}

.services3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.service-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
}

.service-icon {
  font-size: 28px;
  margin-bottom: 15px;
}

.service-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.service-desc {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* Responsive  */
@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    gap: 10px;
  }

  .profile {
    margin-bottom: 30px;
  }

  .name-tag {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 10px;
  }

  .logos {
    gap: 1rem;
  }
}
