*{
    margin: 0;
    padding: 0;
}

h1 {
    color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
  background: #fff;
  color: #000;
  transition: 0.3s;
}

body.dark {
  background: #1e1e1e;
  color: #fff;
}
