*{
    margin: 0;
    padding: 0;
}

h1 {
    color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
  background: #fff;
  color: #000;
  transition: 0.3s;
}

#center-box {
    height: 100vh;      
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#theme-btn:hover {
    background: blue;
    color: red;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

body.dark {
  background: #1e1e1e;
  color: #fff;
}
