#container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-self: center;
            align-items: center;
            gap:20px;
            margin: 10px 40px;
        }
#container > div > img {
            width:200px;
            height: 250px;
        }
#container > div {
            border: 2px solid red;
            height: 100%;
        }
