#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 40px;
}

#container > div > img {
    width: 200px;
    height: 250px;
}

#container {
    border: 2px solid black;
    height: 100%;
}
